**/bin/
!ThirdParty/premake/bin/
bin-int/
Intermediates/

*.log

.vs/
**.sln
**.vcxproj
**.vcxproj.user
**.vcxproj.filters
**.csproj

VoxGL/ThirdParty/VulkanSDK
VoxGL-Editor/Assets/Cache
Scripts/__pycache__
